.info-nft {
  background-color: var(--div-color);
}

.resource-nft {
  background-color: var(--div-color);
}

.active {
  background-color: var(--div-color);
}

.avaliable {
  background-color: var(--div-color);
}
