@import '../header-page/style.scss';
@import '../../pages/portfolio/style.scss';
@import '../../pages/vaults/style.scss';
@import '../../pages/nfts/style.scss';

.content {
  padding: 4rem;
}

title {
  color: #1f2128;
}

@media (max-width: 992px){

  .content{
    padding: 1rem;
  }

}


