:root {
  --font: "Montserrat", sans-serif;
  --font-header: "Inter";
  --grey: #5A6278;
  --highlight-blue: #256EFF;
  --filter-white:  brightness(0) invert(1);
  --filter-black: brightness(0);
  --filter-highligth-blue:  invert(32%) sepia(96%) saturate(3764%) hue-rotate(217deg) brightness(107%) contrast(101%);
  --filter-green-temprary: invert(62%) sepia(30%) saturate(5418%) hue-rotate(117deg) brightness(99%) contrast(104%);
  --filter-red: invert(70%) sepia(33%) saturate(7208%) hue-rotate(322deg) brightness(96%) contrast(97%);
  --filter-blue: invert(67%) sepia(96%) saturate(6778%) hue-rotate(215deg) brightness(105%) contrast(101%);


}

body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-gral,
.btn-secondary {
  border: none;
  padding: 1rem 1.6rem;
  color: #FFF;
  border-radius: .6rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--highlight-blue);
  transition: 0.15s ease-in-out all;
  user-select: none;
  width: max-content;

  &:active{
    transform: scale(0.95);
  }

  &.full-width{
    width: 100%;
    text-align: center;
    width: 100%;
  }
}

.btn-secondary{
  background-color: transparent;
  border: 2px solid var(--highlight-blue);
  color: var(--highlight-blue);
}

.h4-timer {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    margin-right: .6rem;
  }
}
input {
  padding: 1rem;
  background-color: white;
  border-radius: 14px;
  border: none;
  box-shadow: 20px 20px 30px rgba(13, 33, 49, 0.05);
  width: 60%;
}

.true {
border: 1px solid red;
animation: shake .3s;
}

@keyframes shake{
25% { transform: translateX(10px) }
50% { transform: translateX(-10px) }
75% { transform: translateX(10px) }

}
