.box {
  display: grid;
  justify-content: center;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 3.5fr 5fr;
  gap: 3rem 6rem;
}

.resources {
  grid-column: 1/3;
  background-color: #ffffff;
}

.info-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .info-item {
    flex-basis: 40%;
  }
}

.resource-items {
  display: flex;
  justify-content: space-around;
  gap: 4rem;

  .info-item {
    flex-basis: 20%;
  }
}


@media (max-width: 992px) {
  .box{
    display: grid;
    grid-template-rows: 250px;
    gap: 2rem;
  }

  .resource-items{
    flex-direction: column;
    gap: 0px;

  }

  .info-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .info-items{
    flex-direction:column;
  }

  .content-box{
    grid-column: 1/3;
  }
}
